.about {
  position: relative;
  overflow: hidden;
}

.about__title-wrap {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding: 42px 0 32px;

  @media (min-width: @tablet-width) {
    padding: 30px 0 32px;
  }
}

.about__title {
  font-family: @font-light;
  font-size: 24px;
  line-height: 28px;
  color: #283645;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    width: inherit;
  }

  &:first-child {
    margin-bottom: 31px;
  }

  &:last-child {
    @media (min-width: @tablet-width) {
      width: 345px;
    }
  }
}

.about__list {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background-color: #f2f2f2;
  padding: 81px 30px 0;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    border-left: 100vw solid #ffffff;
    border-bottom: 10vw solid transparent;
  }

  &::after {
    display: block;
    content: "";
    height: 278px;
    background: url("../img/iphone-screen-mobile@1x.png") 50% 0 no-repeat;
    background-size: 157px auto;
  }
}

.about__item {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 40px;
  }
}

.about__product {
  display: none;
}

.about__item-title {
  font-family: @font-bold;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 12px;
}


.about__research {
  display: none;
}
