.reviews {
  position: relative;
  overflow: hidden;
  padding-bottom: 45px;

  @media (min-width: @tablet-width) {
    padding: 85px 0 24px;
  }
}

.reviews__list {
  position: relative;
  display: flex;
  text-align: center;
  width: 300%;
  left: 0;
  margin-top: 42px;
  transform: translateX(0);
  transition: all ease 1s;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.reviews__item {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0 20px;
}

.reviews__author {
  font-family: @font-bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-bottom: 3px;
    font-size: 20px;
  }
}

.reviews__description {
  display: none;
  font-family: @font-standart;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: block;
    order: 3;
  }
}

.reviews__comment {
  font-family: @font-standart;
  font-size: 14px;
  line-height: 30px;
  font-style: normal;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

.slider__toggles {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 56px;
  margin: 36px auto 0;

  @media (min-width: @tablet-width) {
    margin: 37px auto 0;
  }
}

.reviews__toggle {
  display: none;
}

#review-radio-1:checked ~ .reviews__list {
  transform: translateX(0%);
}

#review-radio-2:checked ~ .reviews__list {
  transform: translateX(-33%);
}

#review-radio-3:checked ~ .reviews__list{
  transform: translateX(-66%);
}

#review-radio-1:checked ~ .slider__toggles label[for=review-radio-1],
#review-radio-2:checked ~ .slider__toggles label[for=review-radio-2],
#review-radio-3:checked ~ .slider__toggles label[for=review-radio-3] {
  background: #fff;
  box-shadow: 0 0 0 3px #283645;
}
