// background colors
@black: #000000;
@blue-dark: #1d2631;
@blue: rgba(40, 54, 69, 1);
@blue-opacity: rgba(40, 54, 69, 0.3);
@black-opacity: rgba(0, 0, 0, 0.3);
@green: #2aab6d;
@green-bright: #3dc644;
@orange: #f25b26;
@red: #d22856;
@grey: #e5e5e5;
@grey-light: #f2f2f2;
@white: #ffffff;

// background colors for the state
@primary-palette-hover: #5eaa2f;
@secondary-palette-hover: #ebebeb;
@secondary-palette-focus: #ff8282;
@tertiary-palette-hover: #bababa;

// color text
@primary-color: #111111;
@secondary-color: #444444;
@tertiary-color: #222222;
@quaternary-color: #ffffff;
@state-hover: rgba(0, 0, 0, 0.15);
@state-active: rgba(0, 0, 0, 0.25);

// text colors for the state
@primary-color-active: rgba(255, 255, 255, 0.3);
@secondary-color-active: rgba(68, 68, 68, 0.3);
@tertiary-color-active: rgba(17, 17, 17, 0.3);
@quaternary-color-active: rgba(255, 255, 255, 0.3);

// fonts
@font-light: "OpenSansLight", "Arial", sans-serif;
@font-standart: "OpenSans", "Arial", sans-serif;
@font-bold: "OpenSansBold", "Arial", sans-serif;

// font-size
@font-size-primary: 14px;
@font-size-secondary: 16px;
@font-size-headline: 36px;

// interlineage
@line-height-primary: 18px;
@line-height-secondary: 20px;
@line-height-headline: 60px;

// Регистр текста
@text-transform-base: uppercase;

// border color
@border-color: #e6e6e6;
@border-color-secondary: #cdcdcd;
@border-color-tetriaty: #d9d9d9;
@border-color-fourth: #ededed;

//версии
@tablet-width: 768px;
@desktop-width: 1300px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
